extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is Anilkumar Palavelli, I can make the enviornment happy around me.
  button(type="button", class="btn btn-warning") Press Me for the contents
